---
layout: layouts/main.njk
gatech:
  main: https://gatech.edu/
  hackgt:
    main: https://www.hack.gt/
    horizons: https://www.horizons.hack.gt/
    horizonsProjects: https://horizons.hack.gt/
work:
  ncr: https://www.ncr.com
  github: https://www.github.com/
title: lexically::scoped | Elton Pinto
description: My personal website and blog!
---

<div class="splash">
    <h1 class="splash__title">{% emoji "👋" %} Hi, I'm Elton</h1>
</div>
<div class="content">
    <section>
        <p>
            I'm an undergrad studying Computer Science at <a href="{{ gatech.main }}" target="_blank">Georgia Tech</a>. My interests include operating systems, compilers, functional programming, web development, and all things Rust!
        </p>

        <p>
            I enjoy hacking on <span class="accent">open source projects {% emoji "⚙️" %}</span>, <span class="accent">speed cubing {% emoji "⌛" %}</span>, <span class="accent">origami {% emoji "💮" %}</span>, and <span class="accent">reading books {% emoji "📚" %}</span>. 
        </p>

        <p>
            I currently work with <a href="{{ gatech.hackgt.main }}" target="_blank">HackGT</a> as a tech team member where I help throw one of the biggest collegiate hackathons in the south. I'm also a teaching assistant for CS 2110 (Computer Systems and Architecture).
        </p>

        <p>
            In the past, I've interned at <a href="{{ work.ncr }}" target="_blank">NCR</a>. I was an event lead for <a href="{{ gatech.hackgt.horizons }}" target="_blank">Horizons</a>, an arts + tech hackathon that attracted over 300 hackers who made some really cool projects.
        </p>

        <p>
            You can find my projects on <a href="{{ work.github }}" target="_blank">github</a>. Some of my musings can be found on my <a href="/blog">blog</a>.
        </p>
    </section>

    <section>
        <h2>{% emoji "📜" %} Recent posts </h2>
        <ul>
            {%- for post in collections.post | reverse -%}
                <li>
                    <a href="{{ post.url }}">{{ post.data.title | safe }}</a> 
                    <small class="muted">{{ post.data.date | readableDate }}</small>
                </li>
            {%- endfor -%}
        </ul>
    </section>

    <section>
        <h2>{% emoji "📣" %} Talks </h2>
        <ul>
            {%- for talk in talks | reverse -%}
                <li>
                    {{ talk.name }} <small class="muted">{{ talk.date | toDateObj | readableDate }}</small>
                    <br>
                    <small>
                        {% if talk.slides %}
                            <a href="{{ talk.slides }}">📈 slides</a>
                        {% endif %}
                        {% if talk.slides and talk.video %}
                            |
                        {% endif %}
                        {% if talk.video %}
                            <a href="{{ talk.video }}">📹 video</a>
                        {% endif %}
                    </small>
                </li>
            {%- endfor -%}
        </ul>
    </section>

</div>
