---
layout: layouts/main.njk
gatech:
  main: https://gatech.edu/
  hackgt:
    main: https://hexlabs.org
    horizons: https://www.horizons.hack.gt/
    horizonsProjects: https://horizons.hack.gt/
work:
  ncr: https://www.ncr.com
  github: https://www.github.com/
title: lexically::scoped | Elton Pinto
description: My personal website and blog!
---

<div class="splash">
    <h1 class="splash__title">{% emoji "👋" %} Hi, I'm Elton</h1>
</div>
<div class="content">
    <section>
        <p>
            I'm an undergrad studying Computer Science at <a href="{{ gatech.main }}" target="_blank">Georgia Tech</a>. My interests include compilers, programming languages, quantum computing, and operating systems.
        </p>

        <p> I enjoy hacking on open source projects, speed cubing, and reading. </p>

        <h3>Research</h3>
        <p> I'm part of the <a href="http://prod.tinker.cc.gatech.edu/" target="_blank">TINKER lab</a> at Georgia Tech. My research revolves around Grover oracle implementations and synthesis. I'm advised by <a href="https://www.scs.gatech.edu/people/thomas-conte" target="_blank">Dr. Thomas Conte</a> and <a href="https://www.cc.gatech.edu/people/jeffrey-young" target="_blank">Dr. Jeff Young</a>.</p>
        

        <h3>Experience</h3>
        I've interned on the PyTorch Dev Infra team at Facebook and the Innovation Lab at NCR. My <a href="/resume">resume</a> has more details.

        <h3>Involvements</h3>


        <p> I founded <a href="https://dtyped.netlify.app" target="_blank">dependently-typed</a>, a programming languages and compilers club at Georgia Tech. I am currently the co-director of <a href="{{ gatech.hackgt.main }}" target="_blank">Hexlabs</a> (formerly known as HackGT).
            I was an event lead for <a href="{{ gatech.hackgt.horizons }}" target="_blank">Horizons</a>, an arts + tech hackathon that attracted over 300 hackers who made some really artsy projects.
        </p>

      <p> I'm a teaching assistant for <a href="https://github.gatech.edu/pages/cs3210-fall2021/course/" target="_blank">CS 3210</a> (Design of Operating Systems).<p>

        <p>
            You can find my projects on <a href="{{ work.github }}" target="_blank">github</a>. I sometimes write on my <a href="/blog">blog</a>.
        </p>
    </section>

    <section>
        <h2>{% emoji "📜" %} Recent posts </h2>
        <ul>
            {%- for post in collections.posts | reverse -%}
                <li>
                    <a href="{{ post.url }}">{{ post.data.title | safe }}</a> 
                    <small class="muted">{{ post.data.date | readableDate }}</small>
                </li>
            {%- endfor -%}
        </ul>
    </section>

    <section>
        <h2>{% emoji "📣" %} Talks </h2>
        <ul>
            {%- for talk in talks | reverse -%}
                <li>
                    {{ talk.name }} <small class="muted">{{ talk.date | toDateObj | readableDate }}</small>
                    <br>
                    <small>
                        📍 {{ talk.event }}<br>
                        {% if talk.slides %}
                            <a href="{{ talk.slides }}">📈 slides</a>
                        {% endif %}
                        {% if talk.slides and talk.video %}
                            |
                        {% endif %}
                        {% if talk.video %}
                            <a href="{{ talk.video }}">📹 video</a>
                        {% endif %}
                    </small>
                </li>
            {%- endfor -%}
        </ul>
    </section>

</div>
