/* TODO modify light mode colors */
:root {
    /* fonts */
    --font: Roboto, 'sans-serif';
    --title-font: Inter, 'sans-serif';
    
    /* colors */
    --bg-color: #1e1e1e;
    --primary-color: #efefef;
    --secondary-color-1: #afafff;
    --secondary-color-2: #ffa766;
    --success-color: #68ff82;
    --muted: #969696;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-family: var(--font);
    font-size: 1.1rem;
    color: var(--primary-color);
    background: var(--bg-color);
}

main {
    flex: 1 0 auto;
}

button {
    border: 3px solid black;
    border-radius: 5px;
    font-weight: 700;
    padding: 5px;
    background: var(--secondary-color-2);
    cursor: pointer;
}

.download-btn {
    background: var(--success-color);
}

.accent {
    color: var(--secondary-color-2);
    font-weight: 700;
}

.muted {
    color: var(--muted);
}

.small {
    font-size: 1rem;
}

.splash {
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash__title {
    color: var(--primary-color);
    font-family: var(--title-font);
    font-size: 3.5rem;
    font-weight: 700;
    text-shadow: 5px 5px 5px black;
}

.content {
    line-height: 150%;
    margin: 0px 20% 0 20%;
}

.content a {
    color: var(--secondary-color-1);
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px solid var(--secondary-color-1);
    opacity: 0.8;
    transition: opacity 0.2s ease-in;
}

.content a:hover {
    opacity: 1;
    border-bottom: 2.5px solid var(--secondary-color-1);
}

.content a:visited { }

.content section {
    padding-bottom: 20px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1e1e1e;
        --primary-color: #efefef;
    }
}
