---
layout: layouts/main.njk
title: lexically::scoped | resume
---

<style>
    .resume section {
        padding-bottom: 0px;
    }

    .resume__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .resume__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .resume__container__item {
        margin-bottom: 20px;
    }

    .resume__container__item__row {
        font-size: 1rem;
    }

    .resume__container__item__row--header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .resume__container__item__row ul {
        margin-bottom: 0px;
    }
</style>

<div class="content">
    <div class="resume">
        <div class="resume__header">
            <h1>{{ me.name }}</h1>
            <div>
                <a href="https://drive.google.com/file/d/1nxhDVAbAJxT8Xm-L1jC4rlM4dLpV-UGH/view?usp=sharing" target="_blank">
                    view as pdf
                </a>
            </div>
        </div>

        <section>
            <h2>Education</h2>
            <div class="resume__container">
                <div class="resume__container__item">
                    <div class="resume__container__item__row--header">
                        <span>
                            <strong>Georgia Institute of Technology</strong>
                            <span class="small">Atlanta, GA</span>
                        </span>
                        <span class="small muted">
                            August 2018 - May 2022
                        </span>
                    </div>
                    <div class="resume__container__item__row">
                        <span>B.S Computer Science</span>
                    </div>
                    <div class="resume__container__item__row">
                        <span>GPA 4.0</span>
                    </div>
                    <div class="resume__container__item__row">
                        <ul>
                            <li>
                                <strong>Concentrations:</strong>
                                {% for concentration in resume.concentrations %}
                                    {% if not loop.last %}
                                        {{ concentration }},
                                    {% else %}
                                        {{ concentration }}
                                    {% endif %}
                                {% endfor %}
                            </li>
                            <li>
                                <strong>Selected Coursework:</strong>
                                {% for course in resume.selectedCoursework %}
                                    {% if not loop.last %}
                                        {{ course }},
                                    {% else %}
                                        {{ course }}
                                    {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h2>Experience</h2>
            <div class="resume__container">
                <div class="resume__container__item">
                    <div class="resume__container__item__row--header">
                        <span>
                            <strong>Software Engineering Intern, Facebook</strong>
                            <span class="small">
                                Menlo Park, CA
                            </span>
                        </span>
                        <span class="small muted">
                            May 2021 - Aug 2021
                        </span>
                    </div>
                    <div class="resume__container__item__row">
                        <em>Incoming</em>
                    </div>
                </div>

                <div class="resume__container__item">
                    <div class="resume__container__item__row--header">
                        <span>
                            <strong>Software Engineering Intern, Innovation Lab, NCR</strong>
                            <span class="small">
                                Atlanta, GA
                            </span>
                        </span>
                        <span class="small muted">
                            June 2020 - Aug 2020 
                        </span>
                    </div>
                    <div class="resume__container__item__row">
                        <ul>
                            <li>
                                Developed a subscription recommendation model using backtesting with a standard deviation heuristic
                                <ul>
                                    <li>Built a React frontend that queries the model, and displays results on an interactive timeline</li>
                                    <li>Scored 40% on recommending subscriptions for replenishment using the F1 metric</li>
                                    <li>Co-authored a report that makes a business case for the model, and data acquisition needed to improve it</li>
                                </ul>
                            </li>
                            <li>
                                Expanded the consumer profile API to manage and isolate profiles across merchants
                                <ul>
                                    <li>Implemented server routes in Express to create and update consumer profiles using NCR’s CDM API</li>
                                    <li>Built a React Native frontend that showcases linking profiles, and making multi-vendor purchases</li>
                                    <li>Enhanced the CI pipeline by debugging a GitHub action that lints source files</li>
                                </ul>
                            </li>
                            <li>
                                Gave a talk on using Web Components to build reusable UI elements at the NCR Global Unconference
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="resume__container__item">
                    <div class="resume__container__item__row--header">
                        <span>
                            <strong>Software Engineering Intern, NCR</strong>
                            <span class="small">
                                Atlanta, GA
                            </span>
                        </span>
                        <span class="small muted">
                            May 2019 - Aug 2019
                        </span>
                    </div>
                    <div class="resume__container__item__row">
                        <ul>
                            <li>
                                Enhanced the Emerald POS test suite with 7 automated test scripts written in C# using Selenium
                            </li>
                            <li>
                                Reduced the running time of the test suite by 75% by optimizing the existing codebase
                            </li>
                            <li>
                                Worked with a global team to certify the Emerald POS product release for Northgate
                            </li>
                            <li>
                                Installed and configured 3 VMs on servers located in Waterloo to enhance team productivity
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="resume__container__item">
                     <div class="resume__container__item__row--header">
                        <span>
                            <strong>Undergraduate Teaching Assistant</strong>
                            <span class="small">
                                Georgia Institute of Technology
                            </span>
                        </span>
                        <span class="small muted">
                            Jan 2019 - Present
                        </span>
                    </div>
                    <div class="resume__container__item__row">
                        <ul>
                            <li>CS 3210: Design of Operating Systems (Current)</li>
                            <li>CS 2110: Computer Organization and Architecture</li>
                            <li>CS 1301: Intro to Computing</li>
                            <li>PHYS 2211: Intro to Physics</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h2>Projects</h2>
            <div class="resume__container">
                <div class="resume__container__item">
                    <div class="resume__container__item__row">
                        You can find my personal projects on <a href="{{ me.socials.github }}">github</a>. I enjoy working on open-source projects and contribute patches when I can. Notable projects include PyTorch, GHC, nushell, and romejs.
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h2>Involvements</h2>
            <div class="resume__container">
                <div class="resume__container__item">
                    <div class="resume__container__item__row--header">
                        <span>
                            <strong>HackGT</strong>
                            <span class="small">
                                Co-director (Current), Software Developer, Horizons event lead
                            </span>
                        </span>
                        <span class="small muted">
                            Dec 2018 - Present
                        </span>
                    </div>
                    <div class="resume__container__item__row">
                        <ul>
                            <li>Helped organize HackGT (a 1000+ participant hackathon), BuildGT, and Horizons</li>
                            <li>Mentored Atlanta high school students at Catalyst, a 200+ participant learnathon</li>
                            <li>Lead a team of 20 people to host Horizons, an arts + tech hackathon which attracted over 300 participants</li>
                            <li>Leading a team of 4 people to build a Web Components library as part of the rebranding initiative</li>
                            <li>
                                Selected tech projects:
                                <ul>
                                    <li>
                                        <a href="https://www.github.com/HackGT/enzo">
                                            <strong>enzo</strong>
                                        </a>:
                                        A tool that automates managing and deploying HackGT’s tech products on GCP. Implemented an execution engine to run configuration yaml files (similar to GitHub Actions). Written in Rust.
                                    </li>
                                    <li>
                                        <a href="https://love-handle.hack.gt/">
                                            <strong>HackGT 7 puzzle</strong>
                                        </a>:
                                        Designed an admissions puzzle. Implemented a web based clone of Windows 98 through 10, complete with a virtual file system and terminal using Web Components.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h2>Skills</h2>
            <div class="resume__container__item">
                <div class="resume__container__item__row">
                    <ul>
                        {% for skill, items in resume.skills %}
                            <li>
                                <strong>{{ skill | capitalize }}:</strong>
                                {% for item in items %}
                                    {% if not loop.last %}
                                        {{ item }},
                                    {% else %}
                                        {{ item }}
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
