---
layout: layouts/main.njk
---

<div class="content">
    <h1>
        🎯
        <span style="color: var(--secondary-color-1); padding-left: 15px;">lexically</span> :: <span style="color: var(--secondary-color-2);">scoped</span>
    </h1>
</div>
